# Virtual environment
venv/

# Robot structural analysis files (local validation only)
robot/
*.bak
*.rtd

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.dbrobot/
